In [1]:
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd

In [2]:
dataset=pd.read_csv("CKD.csv")

In [3]:
dataset

,age,bp,sg,al,su,rbc,pc,pcc,ba,bgr,...,pcv,wc,rc,htn,dm,cad,appet,pe,ane,classification
0,2.000000,76.459948,c,3.0,0.0,normal,abnormal,notpresent,notpresent,148.112676,...,38.868902,8408.191126,4.705597,no,no,no,yes,yes,no,yes
1,3.000000,76.459948,c,2.0,0.0,normal,normal,notpresent,notpresent,148.112676,...,34.000000,12300.000000,4.705597,no,no,no,yes,poor,no,yes
2,4.000000,76.459948,a,1.0,0.0,normal,normal,notpresent,notpresent,99.000000,...,34.000000,8408.191126,4.705597,no,no,no,yes,poor,no,yes
3,5.000000,76.459948,d,1.0,0.0,normal,normal,notpresent,notpresent,148.112676,...,38.868902,8408.191126,4.705597,no,no,no,yes,poor,yes,yes
4,5.000000,50.000000,c,0.0,0.0,normal,normal,notpresent,notpresent,148.112676,...,36.000000,12400.000000,4.705597,no,no,no,yes,poor,no,yes
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
394,51.492308,70.000000,a,0.0,0.0,normal,normal,notpresent,notpresent,219.000000,...,37.000000,9800.000000,4.400000,no,no,no,yes,poor,no,yes
395,51.492308,70.000000,c,0.0,2.0,normal,normal,notpresent,notpresent,220.000000,...,27.000000,8408.191126,4.705597,yes,yes,no,yes,poor,yes,yes
396,51.492308,70.000000,c,3.0,0.0,normal,normal,notpresent,notpresent,110.000000,...,26.000000,9200.000000,3.400000,yes,yes,no,poor,poor,no,yes
397,51.492308,90.000000,a,0.0,0.0,normal,normal,notpresent,notpresent,207.000000,...,38.868902,8408.191126,4.705597,yes,yes,no,yes,poor,yes,yes
398,51.492308,80.000000,a,0.0,0.0,normal,normal,notpresent,notpresent,100.000000,...,53.000000,8500.000000,4.900000,no,no,no,yes,poor,no,no

In [4]:
dataset=pd.get_dummies(dataset,drop_first='true')
dataset

,age,bp,al,su,bgr,bu,sc,sod,pot,hrmo,...,pc_normal,pcc_present,ba_present,htn_yes,dm_yes,cad_yes,appet_yes,pe_yes,ane_yes,classification_yes
0,2.000000,76.459948,3.0,0.0,148.112676,57.482105,3.077356,137.528754,4.627244,12.518156,...,0,0,0,0,0,0,1,1,0,1
1,3.000000,76.459948,2.0,0.0,148.112676,22.000000,0.700000,137.528754,4.627244,10.700000,...,1,0,0,0,0,0,1,0,0,1
2,4.000000,76.459948,1.0,0.0,99.000000,23.000000,0.600000,138.000000,4.400000,12.000000,...,1,0,0,0,0,0,1,0,0,1
3,5.000000,76.459948,1.0,0.0,148.112676,16.000000,0.700000,138.000000,3.200000,8.100000,...,1,0,0,0,0,0,1,0,1,1
4,5.000000,50.000000,0.0,0.0,148.112676,25.000000,0.600000,137.528754,4.627244,11.800000,...,1,0,0,0,0,0,1,0,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
394,51.492308,70.000000,0.0,0.0,219.000000,36.000000,1.300000,139.000000,3.700000,12.500000,...,1,0,0,0,0,0,1,0,0,1
395,51.492308,70.000000,0.0,2.0,220.000000,68.000000,2.800000,137.528754,4.627244,8.700000,...,1,0,0,1,1,0,1,0,1,1
396,51.492308,70.000000,3.0,0.0,110.000000,115.000000,6.000000,134.000000,2.700000,9.100000,...,1,0,0,1,1,0,0,0,0,1
397,51.492308,90.000000,0.0,0.0,207.000000,80.000000,6.800000,142.000000,5.500000,8.500000,...,1,0,0,1,1,0,1,0,1,1
398,51.492308,80.000000,0.0,0.0,100.000000,49.000000,1.000000,140.000000,5.000000,16.300000,...,1,0,0,0,0,0,1,0,0,0

In [5]:
independent=dataset[['age','bp','al','su','bgr','bu','sc','sod','pot','hrmo','pc_normal','pcc_present','ba_present','htn_yes','dm_yes','cad_yes','appet_yes','pe_yes','ane_yes']]
independent

,age,bp,al,su,bgr,bu,sc,sod,pot,hrmo,pc_normal,pcc_present,ba_present,htn_yes,dm_yes,cad_yes,appet_yes,pe_yes,ane_yes
0,2.000000,76.459948,3.0,0.0,148.112676,57.482105,3.077356,137.528754,4.627244,12.518156,0,0,0,0,0,0,1,1,0
1,3.000000,76.459948,2.0,0.0,148.112676,22.000000,0.700000,137.528754,4.627244,10.700000,1,0,0,0,0,0,1,0,0
2,4.000000,76.459948,1.0,0.0,99.000000,23.000000,0.600000,138.000000,4.400000,12.000000,1,0,0,0,0,0,1,0,0
3,5.000000,76.459948,1.0,0.0,148.112676,16.000000,0.700000,138.000000,3.200000,8.100000,1,0,0,0,0,0,1,0,1
4,5.000000,50.000000,0.0,0.0,148.112676,25.000000,0.600000,137.528754,4.627244,11.800000,1,0,0,0,0,0,1,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
394,51.492308,70.000000,0.0,0.0,219.000000,36.000000,1.300000,139.000000,3.700000,12.500000,1,0,0,0,0,0,1,0,0
395,51.492308,70.000000,0.0,2.0,220.000000,68.000000,2.800000,137.528754,4.627244,8.700000,1,0,0,1,1,0,1,0,1
396,51.492308,70.000000,3.0,0.0,110.000000,115.000000,6.000000,134.000000,2.700000,9.100000,1,0,0,1,1,0,0,0,0
397,51.492308,90.000000,0.0,0.0,207.000000,80.000000,6.800000,142.000000,5.500000,8.500000,1,0,0,1,1,0,1,0,1
398,51.492308,80.000000,0.0,0.0,100.000000,49.000000,1.000000,140.000000,5.000000,16.300000,1,0,0,0,0,0,1,0,0

In [6]:
dependent=dataset[['classification_yes']]
dependent

     classification_yes
0                     1
1                     1
2                     1
3                     1
4                     1
..                  ...
394                   1
395                   1
396                   1
397                   1
398                   0

[399 rows x 1 columns]

In [7]:
#split train and test set
from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test=train_test_split(independent,dependent,test_size=1/3,random_state=0)

C:\Users\sindhiya maria\anaconda3\lib\site-packages\scipy\__init__.py:146: UserWarning: A NumPy version >=1.16.5 and <1.23.0 is required for this version of SciPy (detected version 1.26.4
  warnings.warn(f"A NumPy version >={np_minversion} and <{np_maxversion}"

In [8]:
from sklearn.preprocessing import StandardScaler
sc=StandardScaler()
x_train=sc.fit_transform(x_train)
x_test=sc.transform(x_test)

In [9]:
from sklearn.tree import DecisionTreeClassifier
from sklearn.model_selection import GridSearchCV

# Define the hyperparameter grid
param_grid = {
    'criterion': ['gini', 'entropy'],
    'splitter': ['best', 'random'],
    'max_features': ['auto','sqrt','log2']}

# Create the GridSearchCV object
grid = GridSearchCV(DecisionTreeClassifier(), param_grid, refit=True, verbose=3, n_jobs=-1, scoring='f1_weighted')

# Fit the model
grid.fit(x_train, y_train)

Fitting 5 folds for each of 12 candidates, totalling 60 fits

GridSearchCV(estimator=DecisionTreeClassifier(), n_jobs=-1,
             param_grid={'criterion': ['gini', 'entropy'],
                         'max_features': ['auto', 'sqrt', 'log2'],
                         'splitter': ['best', 'random']},
             scoring='f1_weighted', verbose=3)

In [10]:
# print best parameter after tuning
re=grid.cv_results_
grid_predictions = grid.predict(x_test)


from sklearn.metrics import confusion_matrix
cm = confusion_matrix(y_test,grid_predictions)

# print classification report 
from sklearn.metrics  import classification_report
clf_report = classification_report(y_test, grid_predictions)

In [11]:

from sklearn.metrics import f1_score
f1_macro=f1_score(y_test,grid_predictions,average='weighted')
print("The f1_macro value for best parameter {}:".format(grid.best_params_),f1_macro)

The f1_macro value for best parameter {'criterion': 'entropy', 'max_features': 'sqrt', 'splitter': 'best'}: 0.9699248120300752

In [12]:
print("The confusion Matrix:\n",cm)

The confusion Matrix:
 [[49  2]
 [ 2 80]]

In [13]:
print("The Report:\n",clf_report)

The Report:
               precision    recall  f1-score   support

           0       0.96      0.96      0.96        51
           1       0.98      0.98      0.98        82

    accuracy                           0.97       133
   macro avg       0.97      0.97      0.97       133
weighted avg       0.97      0.97      0.97       133

In [14]:
from sklearn.metrics import roc_auc_score
roc_auc_score(y_test,grid.predict_proba(x_test)[:,1])

0.9681970349115256

In [15]:
table =pd.DataFrame.from_dict(re)

In [16]:
table

,mean_fit_time,std_fit_time,mean_score_time,std_score_time,param_criterion,param_max_features,param_splitter,params,split0_test_score,split1_test_score,split2_test_score,split3_test_score,split4_test_score,mean_test_score,std_test_score,rank_test_score
0,0.006400,4.408879e-03,0.002600,0.001019,gini,auto,best,"{'criterion': 'gini', 'max_features': 'auto', ...",0.945100,0.924528,0.962573,0.922492,0.981031,0.947145,0.022404,6
1,0.003000,7.629395e-07,0.001289,0.000395,gini,auto,random,"{'criterion': 'gini', 'max_features': 'auto', ...",0.908501,0.922185,0.925146,0.883738,0.962264,0.920367,0.025550,12
2,0.003000,7.072638e-07,0.001400,0.000490,gini,sqrt,best,"{'criterion': 'gini', 'max_features': 'sqrt', ...",0.963284,0.923510,0.925524,0.962264,0.961826,0.947282,0.018604,5
3,0.003600,1.356227e-03,0.001600,0.000490,gini,sqrt,random,"{'criterion': 'gini', 'max_features': 'sqrt', ...",0.926978,0.962264,0.925524,1.000000,0.923652,0.947684,0.029822,4
4,0.002800,7.481375e-04,0.002600,0.000800,gini,log2,best,"{'criterion': 'gini', 'max_features': 'log2', ...",0.944135,0.885265,0.981217,0.903887,0.923652,0.927631,0.033221,10
5,0.002779,5.024793e-04,0.001689,0.000751,gini,log2,random,"{'criterion': 'gini', 'max_features': 'log2', ...",0.908877,0.925272,0.962573,0.943651,0.981217,0.944318,0.025745,7
6,0.004000,2.000094e-03,0.001400,0.000490,entropy,auto,best,"{'criterion': 'entropy', 'max_features': 'auto...",0.908877,0.905069,0.944023,0.922492,0.981217,0.932336,0.027988,9
7,0.003202,4.018894e-04,0.002001,0.002003,entropy,auto,random,"{'criterion': 'entropy', 'max_features': 'auto...",0.926978,0.906166,0.888286,0.981217,0.925146,0.925559,0.031194,11
8,0.002602,4.880744e-04,0.001200,0.000400,entropy,sqrt,best,"{'criterion': 'entropy', 'max_features': 'sqrt...",0.981569,0.944161,1.000000,0.925146,0.981031,0.966381,0.027458,1
9,0.002302,4.003762e-04,0.001205,0.000250,entropy,sqrt,random,"{'criterion': 'entropy', 'max_features': 'sqrt...",0.981569,0.943699,0.906705,0.981031,0.981031,0.958807,0.029829,3
10,0.003201,7.492741e-04,0.001201,0.000400,entropy,log2,best,"{'criterion': 'entropy', 'max_features': 'log2...",0.926978,0.924528,0.962573,0.942332,0.924528,0.936188,0.014769,8
11,0.002169,6.472945e-04,0.001003,0.000002,entropy,log2,random,"{'criterion': 'entropy', 'max_features': 'log2...",0.926567,0.981014,0.943651,1.000000,0.943651,0.958977,0.027161,2

In [17]:
Age_input=float(input("Age:"))

bp_input=float(input("Bp:"))

al_input=float(input("Al:"))

su_input=float(input("Su:"))

bgr_input=float(input("Bgr:"))

bu_input=float(input("Bu:"))

sc_input=float(input("Sc:"))

sod_input=float(input("Sod:"))

pot_input=float(input("Pot:"))

hrmo_input=float(input("Hrmo:"))

pc_normal_input=int(input("Pc_normal 0 or 1:"))

pcc_present_input=int(input("pcc_Present 0 or 1:"))

ba_present_input=int(input("ba_present:0 or 1:"))

htn_yes_input=int(input("htn_yes 0 or 1:"))

dm_yes_input=int(input("Dm_yes 0 or 1:"))

cad_yes_input=int(input("Cad_yes 0 or 1:"))

appet_yes_input=int(input("Appet_yes 0 or 1:"))


pe_yes_input=int(input("Pe_yes 0 or 1:"))


ane_yes_input=int(input("Ane_yes 0 or 1:"))

Age:5.000000
Bp:50.000000
Al:0.0
Su:0.0
Bgr:148.112676
Bu:25.000000
Sc:0.600000
Sod:137.528754
Pot:4.627244
Hrmo:11.800000
Pc_normal 0 or 1:1
pcc_Present 0 or 1:0
ba_present:0 or 1:0
htn_yes 0 or 1:0
Dm_yes 0 or 1:0
Cad_yes 0 or 1:0
Appet_yes 0 or 11
Pe_yes 0 or 1:0
Ane_yes 0 or 1:0

In [19]:
Future_Prediction=grid.predict([[Age_input,bp_input,al_input,su_input,bgr_input,bu_input,sc_input,sod_input,pot_input,hrmo_input,pc_normal_input,pcc_present_input,ba_present_input,htn_yes_input,dm_yes_input,cad_yes_input,appet_yes_input,pe_yes_input,ane_yes_input]])# change the paramter,play with it.
print("Future_Prediction={}".format(Future_Prediction))

Future_Prediction=[0]