In [1]:
# import libraries
import numpy as np
from matplotlib.pyplot import plot
import pandas as pd

In [2]:
dataset=pd.read_csv("CKD.csv")

In [3]:
dataset

,age,bp,sg,al,su,rbc,pc,pcc,ba,bgr,...,pcv,wc,rc,htn,dm,cad,appet,pe,ane,classification
0,2.000000,76.459948,c,3.0,0.0,normal,abnormal,notpresent,notpresent,148.112676,...,38.868902,8408.191126,4.705597,no,no,no,yes,yes,no,yes
1,3.000000,76.459948,c,2.0,0.0,normal,normal,notpresent,notpresent,148.112676,...,34.000000,12300.000000,4.705597,no,no,no,yes,poor,no,yes
2,4.000000,76.459948,a,1.0,0.0,normal,normal,notpresent,notpresent,99.000000,...,34.000000,8408.191126,4.705597,no,no,no,yes,poor,no,yes
3,5.000000,76.459948,d,1.0,0.0,normal,normal,notpresent,notpresent,148.112676,...,38.868902,8408.191126,4.705597,no,no,no,yes,poor,yes,yes
4,5.000000,50.000000,c,0.0,0.0,normal,normal,notpresent,notpresent,148.112676,...,36.000000,12400.000000,4.705597,no,no,no,yes,poor,no,yes
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
394,51.492308,70.000000,a,0.0,0.0,normal,normal,notpresent,notpresent,219.000000,...,37.000000,9800.000000,4.400000,no,no,no,yes,poor,no,yes
395,51.492308,70.000000,c,0.0,2.0,normal,normal,notpresent,notpresent,220.000000,...,27.000000,8408.191126,4.705597,yes,yes,no,yes,poor,yes,yes
396,51.492308,70.000000,c,3.0,0.0,normal,normal,notpresent,notpresent,110.000000,...,26.000000,9200.000000,3.400000,yes,yes,no,poor,poor,no,yes
397,51.492308,90.000000,a,0.0,0.0,normal,normal,notpresent,notpresent,207.000000,...,38.868902,8408.191126,4.705597,yes,yes,no,yes,poor,yes,yes
398,51.492308,80.000000,a,0.0,0.0,normal,normal,notpresent,notpresent,100.000000,...,53.000000,8500.000000,4.900000,no,no,no,yes,poor,no,no

In [4]:
dataset=pd.get_dummies(dataset,drop_first='true')

In [5]:
dataset

,age,bp,al,su,bgr,bu,sc,sod,pot,hrmo,...,pc_normal,pcc_present,ba_present,htn_yes,dm_yes,cad_yes,appet_yes,pe_yes,ane_yes,classification_yes
0,2.000000,76.459948,3.0,0.0,148.112676,57.482105,3.077356,137.528754,4.627244,12.518156,...,0,0,0,0,0,0,1,1,0,1
1,3.000000,76.459948,2.0,0.0,148.112676,22.000000,0.700000,137.528754,4.627244,10.700000,...,1,0,0,0,0,0,1,0,0,1
2,4.000000,76.459948,1.0,0.0,99.000000,23.000000,0.600000,138.000000,4.400000,12.000000,...,1,0,0,0,0,0,1,0,0,1
3,5.000000,76.459948,1.0,0.0,148.112676,16.000000,0.700000,138.000000,3.200000,8.100000,...,1,0,0,0,0,0,1,0,1,1
4,5.000000,50.000000,0.0,0.0,148.112676,25.000000,0.600000,137.528754,4.627244,11.800000,...,1,0,0,0,0,0,1,0,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
394,51.492308,70.000000,0.0,0.0,219.000000,36.000000,1.300000,139.000000,3.700000,12.500000,...,1,0,0,0,0,0,1,0,0,1
395,51.492308,70.000000,0.0,2.0,220.000000,68.000000,2.800000,137.528754,4.627244,8.700000,...,1,0,0,1,1,0,1,0,1,1
396,51.492308,70.000000,3.0,0.0,110.000000,115.000000,6.000000,134.000000,2.700000,9.100000,...,1,0,0,1,1,0,0,0,0,1
397,51.492308,90.000000,0.0,0.0,207.000000,80.000000,6.800000,142.000000,5.500000,8.500000,...,1,0,0,1,1,0,1,0,1,1
398,51.492308,80.000000,0.0,0.0,100.000000,49.000000,1.000000,140.000000,5.000000,16.300000,...,1,0,0,0,0,0,1,0,0,0

In [6]:
independent=dataset[['age','bp','al','su','bgr','bu','sc','sod','pot','hrmo','pc_normal','pcc_present','ba_present','htn_yes','dm_yes','cad_yes','appet_yes','pe_yes','ane_yes']]
independent

,age,bp,al,su,bgr,bu,sc,sod,pot,hrmo,pc_normal,pcc_present,ba_present,htn_yes,dm_yes,cad_yes,appet_yes,pe_yes,ane_yes
0,2.000000,76.459948,3.0,0.0,148.112676,57.482105,3.077356,137.528754,4.627244,12.518156,0,0,0,0,0,0,1,1,0
1,3.000000,76.459948,2.0,0.0,148.112676,22.000000,0.700000,137.528754,4.627244,10.700000,1,0,0,0,0,0,1,0,0
2,4.000000,76.459948,1.0,0.0,99.000000,23.000000,0.600000,138.000000,4.400000,12.000000,1,0,0,0,0,0,1,0,0
3,5.000000,76.459948,1.0,0.0,148.112676,16.000000,0.700000,138.000000,3.200000,8.100000,1,0,0,0,0,0,1,0,1
4,5.000000,50.000000,0.0,0.0,148.112676,25.000000,0.600000,137.528754,4.627244,11.800000,1,0,0,0,0,0,1,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
394,51.492308,70.000000,0.0,0.0,219.000000,36.000000,1.300000,139.000000,3.700000,12.500000,1,0,0,0,0,0,1,0,0
395,51.492308,70.000000,0.0,2.0,220.000000,68.000000,2.800000,137.528754,4.627244,8.700000,1,0,0,1,1,0,1,0,1
396,51.492308,70.000000,3.0,0.0,110.000000,115.000000,6.000000,134.000000,2.700000,9.100000,1,0,0,1,1,0,0,0,0
397,51.492308,90.000000,0.0,0.0,207.000000,80.000000,6.800000,142.000000,5.500000,8.500000,1,0,0,1,1,0,1,0,1
398,51.492308,80.000000,0.0,0.0,100.000000,49.000000,1.000000,140.000000,5.000000,16.300000,1,0,0,0,0,0,1,0,0

In [7]:
dependent=dataset[['classification_yes']]
dependent

     classification_yes
0                     1
1                     1
2                     1
3                     1
4                     1
..                  ...
394                   1
395                   1
396                   1
397                   1
398                   0

[399 rows x 1 columns]

In [8]:
#split train and test set
from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test=train_test_split(independent,dependent,test_size=1/3,random_state=0)

C:\Users\sindhiya maria\anaconda3\lib\site-packages\scipy\__init__.py:146: UserWarning: A NumPy version >=1.16.5 and <1.23.0 is required for this version of SciPy (detected version 1.26.4
  warnings.warn(f"A NumPy version >={np_minversion} and <{np_maxversion}"

In [9]:
from sklearn.preprocessing import StandardScaler
sc = StandardScaler()
x_train=sc.fit_transform(x_train)
x_test=sc.transform(x_test)

In [13]:
from sklearn.model_selection import GridSearchCV
from sklearn.ensemble import RandomForestClassifier

param_grid={'criterion':['gini', 'entropy', 'log_loss'],
            'max_features':['auto','sqrt','log2'],'n_estimators':[10,100]}


grid = GridSearchCV(RandomForestClassifier(), param_grid, refit = True, verbose = 3,n_jobs=-1,scoring='f1_weighted') 
   



# fitting the model for grid search 
grid.fit(x_train, y_train)

Fitting 5 folds for each of 18 candidates, totalling 90 fits

C:\Users\sindhiya maria\anaconda3\lib\site-packages\sklearn\model_selection\_search.py:922: UserWarning: One or more of the test scores are non-finite: [0.97749454 0.98480061 0.958686   0.97341245 0.95146756 0.98095962
 0.98481138 0.98111443 0.96229814 0.98104401 0.95863271 0.97725344
        nan        nan        nan        nan        nan        nan]
  warnings.warn(
C:\Users\sindhiya maria\anaconda3\lib\site-packages\sklearn\model_selection\_search.py:880: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  self.best_estimator_.fit(X, y, **fit_params)

GridSearchCV(estimator=RandomForestClassifier(), n_jobs=-1,
             param_grid={'criterion': ['gini', 'entropy', 'log_loss'],
                         'max_features': ['auto', 'sqrt', 'log2'],
                         'n_estimators': [10, 100]},
             scoring='f1_weighted', verbose=3)

In [14]:
# print best parameter after tuning
re=grid.cv_results_
grid_predictions = grid.predict(x_test)


from sklearn.metrics import confusion_matrix
cm = confusion_matrix(y_test,grid_predictions)

# print classification report 
from sklearn.metrics  import classification_report
clf_report = classification_report(y_test, grid_predictions)

In [15]:
from sklearn.metrics import f1_score
f1_macro=f1_score(y_test,grid_predictions,average='weighted')
print("The f1_macro value for best parameter {}:".format(grid.best_params_),f1_macro)

The f1_macro value for best parameter {'criterion': 'entropy', 'max_features': 'auto', 'n_estimators': 10}: 0.9850141736106648

In [16]:
print("The confusion Matrix:\n",cm)

The confusion Matrix:
 [[51  0]
 [ 2 80]]

In [17]:
print("The Report:\n",clf_report)

The Report:
               precision    recall  f1-score   support

           0       0.96      1.00      0.98        51
           1       1.00      0.98      0.99        82

    accuracy                           0.98       133
   macro avg       0.98      0.99      0.98       133
weighted avg       0.99      0.98      0.99       133

In [18]:
from sklearn.metrics import roc_auc_score
roc_auc_score(y_test,grid.predict_proba(x_test)[:,1])

0.9996413199426111

In [19]:
table =pd.DataFrame.from_dict(re)

In [20]:
table

,mean_fit_time,std_fit_time,mean_score_time,std_score_time,param_criterion,param_max_features,param_n_estimators,params,split0_test_score,split1_test_score,split2_test_score,split3_test_score,split4_test_score,mean_test_score,std_test_score,rank_test_score
0,0.022704,0.000869,0.003087,1.730212e-04,gini,auto,10,"{'criterion': 'gini', 'max_features': 'auto', ...",0.963284,0.961755,0.981217,1.000000,0.981217,0.977495,0.014028,6
1,0.177766,0.010295,0.012903,1.017577e-03,gini,auto,100,"{'criterion': 'gini', 'max_features': 'auto', ...",1.000000,0.961755,0.981217,0.981031,1.000000,0.984801,0.014284,2
2,0.021000,0.001788,0.002800,1.165321e-03,gini,sqrt,10,"{'criterion': 'gini', 'max_features': 'sqrt', ...",0.981569,0.943041,0.925524,0.981031,0.962264,0.958686,0.021818,10
3,0.171372,0.003480,0.012599,4.920636e-04,gini,sqrt,100,"{'criterion': 'gini', 'max_features': 'sqrt', ...",1.000000,0.961755,0.981217,0.961826,0.962264,0.973412,0.015246,8
4,0.022302,0.002439,0.002400,4.897846e-04,gini,log2,10,"{'criterion': 'gini', 'max_features': 'log2', ...",0.926978,0.943041,0.944023,0.981031,0.962264,0.951468,0.018530,12
5,0.167024,0.001414,0.012200,1.165803e-03,gini,log2,100,"{'criterion': 'gini', 'max_features': 'log2', ...",1.000000,0.961755,0.981217,0.961826,1.000000,0.980960,0.017088,5
6,0.019597,0.000489,0.002803,7.485801e-04,entropy,auto,10,"{'criterion': 'entropy', 'max_features': 'auto...",1.000000,0.981014,0.981217,1.000000,0.961826,0.984811,0.014262,1
7,0.170126,0.001500,0.012302,1.163439e-03,entropy,auto,100,"{'criterion': 'entropy', 'max_features': 'auto...",0.981569,0.961755,0.981217,0.981031,1.000000,0.981114,0.012097,3
8,0.025905,0.007022,0.003000,3.873843e-07,entropy,sqrt,10,"{'criterion': 'entropy', 'max_features': 'sqrt...",0.981569,0.943041,0.944023,0.981031,0.961826,0.962298,0.016896,9
9,0.166021,0.002704,0.011800,7.480254e-04,entropy,sqrt,100,"{'criterion': 'entropy', 'max_features': 'sqrt...",1.000000,0.961755,0.981217,0.981031,0.981217,0.981044,0.012095,4
10,0.019801,0.001720,0.002801,4.003535e-04,entropy,log2,10,"{'criterion': 'entropy', 'max_features': 'log2...",0.981569,0.924528,0.944023,0.961826,0.981217,0.958633,0.022013,11
11,0.152466,0.012756,0.009411,3.049126e-03,entropy,log2,100,"{'criterion': 'entropy', 'max_features': 'log2...",1.000000,0.961755,0.981217,0.981031,0.962264,0.977253,0.014229,7
12,0.009307,0.000680,0.000000,0.000000e+00,log_loss,auto,10,"{'criterion': 'log_loss', 'max_features': 'aut...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,13
13,0.054405,0.001396,0.000000,0.000000e+00,log_loss,auto,100,"{'criterion': 'log_loss', 'max_features': 'aut...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,14
14,0.008400,0.000493,0.000000,0.000000e+00,log_loss,sqrt,10,"{'criterion': 'log_loss', 'max_features': 'sqr...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,15
15,0.053565,0.002010,0.000000,0.000000e+00,log_loss,sqrt,100,"{'criterion': 'log_loss', 'max_features': 'sqr...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,16
16,0.008856,0.000841,0.000000,0.000000e+00,log_loss,log2,10,"{'criterion': 'log_loss', 'max_features': 'log...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,17
17,0.052357,0.002705,0.000000,0.000000e+00,log_loss,log2,100,"{'criterion': 'log_loss', 'max_features': 'log...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,18

In [21]:
 Age_input=float(input("Age:"))

bp_input=float(input("Bp:"))

al_input=float(input("Al:"))

su_input=float(input("Su:"))

bgr_input=float(input("Bgr:"))

bu_input=float(input("Bu:"))

sc_input=float(input("Sc:"))

sod_input=float(input("Sod:"))

pot_input=float(input("Pot:"))

hrmo_input=float(input("Hrmo:"))

pc_normal_input=int(input("Pc_normal 0 or 1:"))

pcc_present_input=int(input("pcc_Present 0 or 1:"))

ba_present_input=int(input("ba_present:0 or 1:"))

htn_yes_input=int(input("htn_yes 0 or 1:"))

dm_yes_input=int(input("Dm_yes 0 or 1:"))

cad_yes_input=int(input("Cad_yes 0 or 1:"))

appet_yes_input=int(input("Appet_yes 0 or 1:"))


pe_yes_input=int(input("Pe_yes 0 or 1:"))


ane_yes_input=int(input("Ane_yes 0 or 1:"))

Age:51.492308
Bp:70.000000
Al:0.0
Su:0.0
Bgr:219.000000
Bu:36.000000
Sc:1.300000
Sod:139.000000
Pot:3.700000
Hrmo:12.500000
Pc_normal 0 or 1:1
pcc_Present 0 or 1:0
ba_present:0 or 1:0
htn_yes 0 or 1:0
Dm_yes 0 or 1:0
Cad_yes 0 or 1:0
Appet_yes 0 or 11
Pe_yes 0 or 1:0
Ane_yes 0 or 1:0

In [22]:
Future_Prediction=grid.predict([[Age_input,bp_input,al_input,su_input,bgr_input,bu_input,sc_input,sod_input,pot_input,hrmo_input,pc_normal_input,pcc_present_input,ba_present_input,htn_yes_input,dm_yes_input,cad_yes_input,appet_yes_input,pe_yes_input,ane_yes_input]])# change the paramter,play with it.
print("Future_Prediction={}".format(Future_Prediction))

Future_Prediction=[1]